
.card-service{
    flex: 1;
    min-width: 210px;
    max-width: 250px;
    height: 300px;
    border-radius: 6px;
    box-shadow: -5px 5px 18px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-content-title {
    font-weight: 600;
    margin-bottom: 6px;
    color: #222;
    font-size: 16px;
    line-height: 1;
  }
  
  .card-content-desc {
    font-size: 0.675rem;
    line-height: 1.4;
    color: #555;
  }
  
  .card-button-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px 10px 10px;
    margin-top: auto;
  }

  .card-service-media {
    height: 136px;
    background-size: cover;
  }

  .card-service-content{
    padding: 5% 2.5% 2.5% 5%;
  }
  