.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
}

.title-form{
  padding-left: 20px;
}

.form-inputs-componente {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field-componente{
  height: 100%;
}

.form-section {
  display: flex;
  gap: 8px;
  padding: 16px;
  border-radius: 8px;
}

.form-field-personal {
  flex: 1;
  min-width: 200px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.submit-button {
  background-color: #5F1516;
  color: #fff;
  padding: 10px 20px;
  text-transform: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #7a1d20;
}

.image-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.image-preview-container p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

.form-field.form-imagem {
  margin-top: 10px;
  cursor: pointer;
}

.image-preview {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-field.form-imagem::-webkit-file-upload-button {
  content: 'Selecionar Imagem';
  display: inline-block;
  background-color: #5F1516;
  padding: 10px 20px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease;
  border: none;
}

/* Regras de mídia para responsividade */
@media screen and (max-width: 768px) {
  .form-section {
    flex-direction: column; /* Alinha os itens em coluna */
  }

  .form-field,
  .form-componente,
  .form-observacoes,
  .form-actions,
  .image-preview-container {
    width: 100%; /* Cada campo ocupa toda a largura */
  }

  .image-preview {
    width: 100px; /* Reduz o tamanho da pré-visualização em telas menores */
    height: 100px;
  }

  .submit-button {
    font-size: 14px; /* Ajusta o tamanho da fonte do botão */
    padding: 8px 16px;
  }
}

@media screen and (max-width: 480px) {
  .form-container {
    padding: 8px; /* Reduz o padding em telas muito pequenas */
  }

  .form-section {
    gap: 4px; /* Reduz o espaçamento entre os itens */
  }

  .submit-button {
    font-size: 12px; /* Ajusta ainda mais o tamanho da fonte */
    padding: 6px 12px;
  }

  .image-preview {
    width: 80px; /* Reduz ainda mais o tamanho da pré-visualização */
    height: 80px;
  }
}